# Build outputs
dist/
*.js.map

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local

# Temporary files
src/ui/dist/

vcpkg

src/wasm-engine/build
src/wasm-engine/build/*