CompileFlags:
  Add:
    - "-std=c++17"
    - "--target=wasm32-unknown-emscripten"
    - "-D__EMSCRIPTEN__"
    - "-DEMSCRIPTEN"
    - "-I/Users/namhyeon-u/Desktop/________/vcpkg/installed/arm64-osx/include"
    - "-isystem/opt/homebrew/Cellar/emscripten/4.0.18/libexec/cache/sysroot/include/c++/v1"
    - "-isystem/opt/homebrew/Cellar/emscripten/4.0.18/libexec/llvm/lib/clang/22/include"
    - "-isystem/opt/homebrew/Cellar/emscripten/4.0.18/libexec/cache/sysroot/include"
    - "-isystem/opt/homebrew/Cellar/emscripten/4.0.18/libexec/cache/sysroot/include/compat"
    - "-isystem/opt/homebrew/Cellar/emscripten/4.0.18/libexec/system/include"
  Remove:
    - "-I/usr/include"
    - "-I/usr/local/include"
