---
BasedOnStyle: Google
Language: Cpp
Standard: c++17

# 들여쓰기
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

# 중괄호
BreakBeforeBraces: Attach

# 포인터와 참조
DerivePointerAlignment: false
PointerAlignment: Left

# 함수 및 제어문
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# 빈 줄
MaxEmptyLinesToKeep: 1

# 네임스페이스
NamespaceIndentation: None

# 접근 지정자 (public, private 등)
AccessModifierOffset: -1

# Include 정렬
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<emscripten/'
    Priority:        1
  - Regex:           '^<[a-z_]+>'
    Priority:        2
  - Regex:           '^<'
    Priority:        3
  - Regex:           '.*'
    Priority:        4

